# confirm for file override
alias mv="mv -i"
alias cp="cp -i"
alias rm="rm -i"

# ls command
alias ls="ls --show-control-chars --color=auto --time-style=long-iso"
alias l="ls -lhrt"
alias l.="ls -d .*"
alias la="ls -lhA"
alias lc="colorls -lrt --sd --gs --human-readable"

# other commands
alias g="git"
alias t="tig"
alias ping="ping -i0.2"
alias grep="ggrep --color=auto"
alias aria="aria2c --conf-path=$HOME/.aria2/aria2.conf -D"
alias curlperf="curl -w @$HOME/.curl-format -o /dev/null -s"

# store dotfiles in a bare Git repository
alias dotfiles="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias dotupload='dotfiles commit -am "$(date +%Y.%m.%d_%H:%M:%S) from $(whoami)@$(hostname)" && git push'
