alias mv='mv -i'
alias cp='cp -i'
alias rm='rm -i'
alias ls='ls --show-control-chars --color=auto --time-style=+"<%Y-%m-%d %H:%M>"'
alias l='ls -lhrt'
alias l.='ls -d .*'
alias la='ls -lhA'
alias lc='colorls -lrt --sd --gs --human-readable'
alias g='git'
alias t='tig'
alias x='open -a Xee³'
alias ping='ping -i0.2'
alias grep='ggrep --color=auto'
alias myip='curl -s ipinfo.io | jq .'
alias javac="javac -J-Dfile.encoding=utf8"
alias sshtun='ssh -qTfnN -D 7070 bunker'
alias sshproxy='ssh -qTfnNC -p 36022 -D 7070 root@107.170.253.196'
alias aria='aria2c --conf-path="/Users/hhuzhi/.aria2/aria2.conf" -D'
alias pfreload='sudo pfctl -f /etc/pf.conf'
alias curlperf='curl -w "@/Users/hhuzhi/.curl-format" -o /dev/null -s'
alias wakeupbaymax='ssh admin@home.zihoo.me "ether-wake -i br0 70:85:C2:42:36:02"'
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1])"'
alias urldecode='python -c "import sys, urllib as ul; print ul.unquote_plus(sys.argv[1])"'

